*{
    font-family: 'Okra, Helvetica', sans-serif;
}

.heading{
    
    margin-left: 30%;
}
.para{
    font-size: 20px;
    /* color: #9C9C9C; */
    /* color: #4F4F4F; */
    /* color: #4F4F56; */
    color: #696969;
    margin-left: 27%;
    width: 52%;
    font-weight: 450;
    padding-top: 1%;

}
.row{
    width: 27%;
    box-shadow: #696969;
   
    
}

#cont5_head{
    margin-left: 40%;
    padding-top: 6%;
    
}
.container5-a{
    display: flex;
}

.card1{
  width: 19.55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-left: 10%;
}

.card2{
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}
.card3{
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 5%;
}
.card4{
    width: 19.55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 10%;
  }
  
.card5{
      width: 19.55%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      margin-left: 5%;
}
.card6{
      width: 19.55%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      margin-left: 5%;
}

.card_hed{
    margin-top:5%;
    margin-left:3%;
    font-size: 1.5rem;
}
.card_para{
    margin-top:3%;
    margin-left:3%;
}

.main{
    margin-left: 22%;
    display: flex;
    margin-top: 5%;
    gap: 40px;
    box-shadow: #696969;
}
.main1{
    margin-left: 22%;
    display: flex;
    margin-top: 5%;
    gap: 40px;
    height: 450px;
}
.card{
    width: 4%;
    height: 85px; 
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 10px;
  
    
}
.snap{
    margin-top: 8%;
    
}
.apna-desh{
margin-top: -4%;
margin-left: 20%;
color: #696969;
font-size: 20px;
font-weight: 390;
}
.heading1{
    margin-top: -13%;
    margin-left: 20%;
    color:#2781E7;
    font-weight: 450;
    font-size: 29px;
}
.container3{
    margin-top: 5%;
}
.snap2{
    width: 100%;
    position: absolute;
}
.works{
    position: relative;
    margin-left: 44%;
    
}
