.heading{
    
    margin-left: 30%;
}
.para{
    font-size: 20px;
    /* color: #9C9C9C; */
    /* color: #4F4F4F; */
    /* color: #4F4F56; */
    color: #696969;
    margin-left: 27%;
    width: 52%;
    font-weight: 450;
    padding-top: 1%;

}
.container2{
    margin-top: 30%;
    
}