* {
    margin: 0;
    outline: none;
}

.container2 {
    text-align: center;
    align-content: space-between;
    margin: 8% 0%
}

.image-section1 {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
    margin: 0 auto;
}

img {
    height: 40%;
    width: 40%;
}

.image-section2 {
    display: flex;
    align-items: center;
    height: 30%;
    width: 60%;
    margin: 0 auto;
}

.container3 p {
    color: rgb(28, 28, 28);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.img3-1 {
    height: 250px;
}

.Recurring {
    padding-left: 50%;
    padding-top: 3%;
    display: flex;
}