*{
    margin: 0;
    outline: none;
    /* font-family: 'Montserrat', sans-serif; */
}
.pic{
    width: 100%;
    height: 500px;
}
.container1{
    width: 100%;
}

.container2{
    padding-top: 20px;
    padding-bottom:50px;
}
.container4{
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 80px;
   padding-bottom: 80px;
   font-family: 'Open Sans', sans-serif;
}
#logo{
    width: 300px;
}
.center{ 
    position: absolute;
    top: 16%;
    left: 40%;
 } 

.page_title{
    padding-left:20%;
    font-family: 'Lato', sans-serif;
    display: flex;
}
.container4 h3{
padding-top:20px;
padding-bottom: 10px;
}
.container4 p{
    color: #9C9C9C;
    font-size: 16px;
}
.container3{
    padding-top:30px;
    background-color:#FFFBF7;
}
#iphone{
    height:450px;
}

.container_a,.container_b{
    display: inline-block;
    vertical-align: top;
}
.container_a{
    margin-left:25%;
}
.container_b{
    padding-left: 3%;
    padding-top: 60px;
    width: 30%;
}
span{

font-size: large;
font-weight: 60px;
}


.text{
    position: absolute;
    top: 30%;
    left: 29%;
    color: white;
    font-size: 2rem;
    font-weight: 150px;
    display: flex;
    font-family: 'Okra, Helvetica', sans-serif;

}

.form-group{
    display: flex;
    padding-top: 13px;
    height:80px;   
    padding-bottom: 20px;
}
#danger{
    margin-left:10px;
    height: 50px;
    width: 250px;
    vertical-align: bottom;
}
#email{
    height:50px;
}

.store{
    width:30%;
}

/* @media only screen and (max-width:1027px){
    .container_a{
        margin-left:0;
    }
    .container_b{
        padding-left: 3%;
        padding-top: 60px;
    }
}
@media only screen and (max-width:900px){
    .container_a{
        margin-left:0;
    }
    .container_b{
        padding-left: 3%;
        padding-top: 60px;
    }
} */
.container5{
    font-family: 'Paytone One', sans-serif;
    padding-left:20px;
}
.navbar-brand{
color: white;
top: 15%;
background-color:white;
}
.login,.signup, .restaurant{
    margin-top: -1%;
    top:1%;
    text-decoration: none;
    color: rgb(255,255,255);
    font-family: 'Okra, Helvetica', sans-serif;
     font-weight: lighter; 
    font-size : 1.1rem; ; 
    line-height: 1.9;
    
}
.getapp{
    color:white;
    margin-left: 15%;
    text-decoration: none;
    font-style: bold;
    margin-top: -1%;
     top: 1%;
     font-weight: lighter;
     font-size : 1.1rem; ; 
    line-height: 1.9; 
    
}

.restaurant{
    margin-left: 30%;
}
.signup{
    margin-right: 20%;
    margin-left: -20%;

}
.login{
    margin-right: 10%;
    margin-left: -10%;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    
    }
.container5{
    height:20px;
    padding-left:144px; 
    padding-top: 20px;
}
.container5,.container6,.container7{
    background-color: #FCFCFC
}

.navbar{
    bottom: 480px;
    display: flex;
    flex-direction: row;
}
.container6{
    padding-top:50px;
    padding-left: 10%;
   padding-right: 10%;
    display: flex;
    font-weight: lighter;
}

.container6-1,.container6-2,.container6-3,.container6-4,.container6-5
{
    padding-left:10%;
    font-size:13px;
    padding-top: 30px;
}
.container6-1
{
    padding-left:0;
    font-size:13px;
    padding-top: 30px;
}
.container7{
    padding-left: 10%;
   padding-right: 10%;
   font-weight: lighter;
   font-size:14px;
   padding-bottom: 20px;
}


.footer_logo{
    height:30px;
}
.store-footer{
    height: 40px;
    margin-top: 10%;
}
.search-btn{
width: 130px;
background-color: red;
color: white;
border: none;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
font-size: 20px;
}
.popular{
    margin-top: 100px;
}
.containerA{
    padding-left: 10%;
}
.containerB{
    color: #9C9C9C;
    font-size: 16px;
    padding-top: 1%;
    padding-left: 10%;
   padding-right: 10%;
    display: flex;
}
.containerB-1,.containerB-2,.containerB-3,.containerB-4,.containerB-5{
    padding-left: 10%;
}
.containerB-1{
    padding-left: 0%;
}
.containerC{
    padding-top: 50px;
    padding-left: 10%;
}
.containerD{
    color: #9C9C9C;
    font-size: 16px;
    padding-top: 1%;
    padding-left: 10%;
   padding-right: 10%;
    display: flex;
    padding-bottom: 50px;
}
.containerD-1{
    padding-left: 0%;
}
.containerD-2{
    padding-left: 9%;
}
.containerD-3{
    padding-left: 11%;
}
.containerD-4{
    padding-left: 13%;
}
.containerD-5{
    padding-left: 16%;
}

.form{
    margin-top: 10%;

}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.wrapper{
  position: absolute;
  top: 19%;
  margin-top: 12%;
  margin-left: -1%; 
  margin-right: 10%;

} 


.wrapper .search_box{
  width: 700px;
  background: #fff;
  border-radius: 5px;
  height: 55px;
  display: flex;
 padding-top: 5px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}




.wrapper .search_box .dropdown{
  width: 250px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}
.search_field{
    margin-top: -7px;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 150px;
  border-radius: 5px;
  /* padding: 20px; */
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

/* .wrapper .search_box .dropdown ul.active{
  display: block;
} */

.wrapper .search_box .dropdown ul li{
  padding-bottom: -2px;
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover{
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
   border-color: #000000 transparent transparent transparent; 
}

.wrapper .search_box .search_field{
  width: 800px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input{
  width: 450px;
  height: 30px;
  border: 0px;
  font-size: 16px;
  padding-left: 35px;
  padding-right: 38px;
  color: #6f768d;

}


.wrapper .search_box .search_field .fas{
  position: absolute;
  top: 22px;
  left: 10px;
  font-size: 16px;
  color: grey;
  cursor: pointer;
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}

/* .containerZ{
display: flex;
flex-direction: row;
margin-top: 2%;
} */
  .pic_a,.pic_b, .pic_c, .pic_d{
height: 200px;
width: 280px;
border-radius: 10px;
} 
.card{
    margin-left:30%;
    height: 280px;
    width: 280px;
    border-radius: 30px;
    

}
.Container{
    margin-top: 2%;
}
.ContainerZa{
    margin-left:-13%;
    flex-direction: row;
}
.ContainerZb{
    margin-top:-20%;
    margin-left:14%;
}
.ContainerZc{
    margin-left: 40%;
    margin-top:-18%;
}
.ContainerZd{
    margin-left: 70%;
    margin-top:-18%;
}

/* .ContainerZb
{
    margin-top: -0.0%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.ContainerZc{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
} */
/* .pic_a{
    margin-left: 0.1%;
    
}
.pic_b{
    margin-left: 1%;
}
.pic_c{
    margin-left: 1%;
}
.pic_d{
    margin-left: 1%;
} */

/* .containerZ1{
    margin-top: 8%;
    margin-left: 10%;
    
    
    
}
.containerZ2
{
    margin-left: 2%;
} */

.icons-footer{
    width:23px;
}
.l-space{
    letter-spacing:2px;
    font-weight: bold;
}
.card{
    text-decoration: none;
}

