*
{
    margin: 0;
    outline: none;
    font-family: 'Okra, Helvetica', sans-serif;
    font-weight: 300;
}

.footer_logo
{
    height:27px;
    padding-left: 10%;
}

.container2
{
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 6%;
}

.Dukh-Dard{
    display: inline-block;
    margin-top: 2%;
}
.Sheher{
    display: inline-block;
    text-align: left;
    text-decoration: none;
    color: rgb(130, 130, 130);
    margin-bottom: 1.2rem;
    width: 19%;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}